<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartQuizServlet</servlet-name>
        <servlet-class>servlets.StartQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitAnswerServlet</servlet-name>
        <servlet-class>servlets.SubmitAnswerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUsersServlet</servlet-name>
        <servlet-class>servlets.SearchUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileServlet</servlet-name>
        <servlet-class>servlets.UserProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendFriendRequestServlet</servlet-name>
        <servlet-class>servlets.SendFriendRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptFriendRequestServlet</servlet-name>
        <servlet-class>servlets.AcceptFriendRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelFriendRequestServlet</servlet-name>
        <servlet-class>servlets.CancelFriendRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeclineFriendRequestServlet</servlet-name>
        <servlet-class>servlets.DeclineFriendRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMessageServlet</servlet-name>
        <servlet-class>servlets.SendMessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuizServlet</servlet-name>
        <servlet-class>servlets.CreateQuizServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/user/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/user/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartQuizServlet</servlet-name>
        <url-pattern>/quiz/StartQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitAnswerServlet</servlet-name>
        <url-pattern>/quiz/SubmitAnswerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/user/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendFriendRequestServlet</servlet-name>
        <url-pattern>/user/sendFriendRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUsersServlet</servlet-name>
        <url-pattern>/user/searchUsersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileServlet</servlet-name>
        <url-pattern>/user/userProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptFriendRequestServlet</servlet-name>
        <url-pattern>/user/acceptFriendRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelFriendRequestServlet</servlet-name>
        <url-pattern>/user/cancelFriendRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeclineFriendRequestServlet</servlet-name>
        <url-pattern>/user/declineFriendRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMessageServlet</servlet-name>
        <url-pattern>/user/sendMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuizServlet</servlet-name>
        <url-pattern>/quiz/createQuiz</url-pattern>
    </servlet-mapping>
</web-app>
